<div class="text-white text-4xl flex justify-center mt-11">
    <h1 class="text-center">Your personal cashflow tracker:</h1>
</div>

<div class="relative top-18 right-0 md:absolute md:right-12">
    <!-- Check if errorMessages array is not empty -->
    <div *ngIf="errorMessages.length > 0"
        class="errorContainer py-2 px-4 rounded-md mb-6 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-white">
        <!-- Loop through the errorMessages array and display each error in a separate <p> tag with a line break -->
        <p *ngFor="let error of errorMessages" [ngClass]="'justify-center flex text-lg'">{{ error }}<br></p>
    </div>
</div>

<div class="mt-20">

    <form action="" class="text-white flex item-center justify-center flex-col text-2xl w-full">

        <div class="mx-auto w-full md:w-1/3 lg:w-1/3 flex mb-3 flex-col lg:flex-row">
            <label for="incomeRadio" class="block font-medium lg:w-64 w-full text-center lg:text-left">Type:</label>

            <div class="flex justify-center">

                <div
                    class="flex items-center pl-4 border border-gray-200 rounded-lg dark:border-gray-700 bg-gray-700 mr-3">
                    <input id="incomeRadio" value="income" type="radio" name="flowType"
                        class="w-4 h-4 text-blue-600 bg-gray-100 focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 border-gray-600">
                    <label for="incomeRadio"
                        class="w-28 py-2 mx-2 font-light text-gray-900 dark:text-gray-300">Income</label>
                </div>

                <div class="flex items-center pl-4 border border-gray-200 rounded-lg dark:border-gray-700 bg-gray-700">
                    <input id="expenseRadio" value="expense" type="radio" name="flowType"
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="expenseRadio"
                        class="w-24 py-2 mx-2 font-light text-gray-900 dark:text-gray-300">Expense</label>
                </div>

            </div>

        </div>

        <div class="mx-auto w-full md:w-1/3 lg:w-1/3 flex mb-3 flex-col lg:flex-row">
            <label for="oneTimeRadio"
                class="block font-medium lg:w-64 w-full text-center lg:text-left">Occurrence:</label>

            <div class="flex justify-center">


                <div
                    class="flex items-center pl-4 border border-gray-200 rounded-lg dark:border-gray-700 bg-gray-700 mr-3">
                    <input id="oneTimeRadio" value="one-time" type="radio" name="flowOccurrence"
                        class="w-4 h-4 text-blue-600 bg-gray-100 focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 border-gray-600">
                    <label for="oneTimeRadio"
                        class="w-28 py-2 mx-2 font-light text-gray-900 dark:text-gray-300">One-time</label>
                </div>
                <div class="flex items-center pl-4 border border-gray-200 rounded-lg dark:border-gray-700 bg-gray-700">
                    <input id="regularRadio" value="regular" type="radio" name="flowOccurrence"
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="regularRadio"
                        class="w-24 py-2 mx-2 font-light text-gray-900 dark:text-gray-300">Regular</label>
                </div>

            </div>
        </div>


        <div class="mx-auto w-5/6 md:w-1/2 lg:w-1/3 flex flex-col lg:flex-row mb-3">
            <label for="visitors" class="block font-medium w-full text-center lg:text-left lg:w-64">Amount:</label>
            <input type="number" id="visitors" [(ngModel)]="amount" name="amount"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Enter Amount in Euros (€)..." required>
        </div>

        <div class="mx-auto w-5/6 md:w-1/2 lg:w-1/3 flex flex-col lg:flex-row mb-3">
            <label for="visitors" class="block font-medium text-center lg:w-64 lg:text-left">Date:</label>
            <input type="date" id="visitors" [(ngModel)]="date" name="date"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="" required>
        </div>

        <div class="mx-auto w-5/6 md:w-1/2 lg:w-1/3 flex flex-col lg:flex-row mb-3">
            <label for="message" class="block mb-2 font-medium text-center lg:text-left lg:w-64">Description:</label>
            <textarea id="message" rows="4" [(ngModel)]="description" name="description"
                class="block p-2.5 w-full text-sm bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Write your thoughts here..."></textarea>
        </div>

        <div class="mx-auto w-1/3 flex mb-3 mt-6">
            <button type="submit" (click)="createEntry()"
                class="w-full text-sm md:text-lg mx-auto font-medium rounded-lg px-5 py-2.5 mr-2 mb-2 bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90% hover:from-pink-500 hover:to-yellow-500">Add
                Flow!</button>
        </div>

    </form>

</div>

<div
    class="bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90% text-white dark:text-gray-200 py-2 px-4 w-5/6 rounded-md md:w-1/3 mx-auto md:mt-8 mb-8">
    <p class="flex justify-center md:text-2xl">Your Account Balance: €{{ balance | async }}</p>
</div>