<div class="mt-10">

    <header class="text-white p-4">
        <h1 class="text-3xl text-center">About WiseFlow Financial Tool</h1>
    </header>

    <main class="container mx-auto py-8 px-4 text-white">

        <section class="mb-8">
            <h2 class="text-2xl font-semibold mb-4">Overview</h2>
            <p>Welcome to our innovative financial tool designed to empower you with efficient money management. Our
                application is tailored to help you effortlessly track your cashflow, make informed financial decisions,
                and achieve your monetary goals.</p>
        </section>

        <section class="mb-8">
            <h2 class="text-2xl font-semibold mb-4">Our Mission</h2>
            <p>At WiseFlow, we're committed to providing you with a seamless and user-friendly experience for managing
                your finances. Our mission is to equip you with the tools you need to take control of your money, plan
                for the future, and enhance your overall financial well-being.</p>
        </section>

        <section class="mb-8">
            <h2 class="text-2xl font-semibold mb-4">User-Centric Approach</h2>
            <p>We understand that managing finances can be daunting, which is why we've built an intuitive platform that
                prioritizes your needs. Our user-centric design ensures that you can easily record and analyze your
                income, expenses, savings and perform other financial operations all in one place.</p>
        </section>

        <section class="mb-8">
            <h2 class="text-2xl font-semibold mb-4">Comprehensive Features</h2>
            <p>With WiseFlow, you can do more than just track your spending. Take advantage of our diverse set of
                features, including recording regular and one-time incomes and expenses, real-time currency conversion,
                percentage calculations, personal profile with dashboard and powerful Time Value of Money (TVM) calculator.</p>
        </section>

        <section class="mb-8">
            <h2 class="text-2xl font-semibold mb-4">Data Security</h2>
            <p>Rest assured that your financial data's security is our top priority. We employ advanced encryption and
                security measures to safeguard your information, ensuring your privacy and peace of mind.</p>
        </section>

        <section class="mb-8">
            <h2 class="text-2xl font-semibold mb-4">Seamless Progress</h2>
            <p>Our state-of-the-art state management system ensures that you can seamlessly resume your financial tasks
                from any device. Your progress is automatically saved on our secure servers, allowing you to pick up
                where you left off whenever you log in.</p>
        </section>

        <section class="mb-8">
            <h2 class="text-2xl font-semibold mb-4">Happy Budgeting</h2>
            <p>As you embark on your journey towards better financial health, we're here to support you every step of
                the way. Start budgeting with confidence and embark on a path towards greater financial freedom and
                success.</p>
        </section>

        <section class="mb-8">
            <h2 class="text-2xl font-semibold mb-4">License</h2>
            <p class="mb-4">This project is licensed under the MIT License.</p>
            <p class="mb-4"><a href="https://github.com/AlekSkyHigh/wise-flow/blob/master/LICENSE"
                    class="text-blue-600 underline">Read the full license here</a></p>
        </section>

        <section class="mb-8">
            <h2 class="text-2xl font-semibold mb-4">Get in Touch</h2>
            <p>Have questions or feedback? We'd love to hear from you! Feel free to reach out to our support team at <a
                    href="mailto:email@example.com" class="text-blue-600 underline">email@example.com</a> for assistance
                or suggestions.</p>
        </section>

    </main>


</div>