<section class="mt-32">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
            <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600 dark:text-white">404
            </h1>
            <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white">Something's
                missing.</p>
            <p class="mb-4 text-2xl font-light text-gray-500 dark:text-gray-400">Lost in the Financial Maze? Our
                financial experts are navigating you back to solid ground.</p>
            <a routerLink="/" class="text-blue-500 hover:underline text-xl">Back to Homepage</a>
        </div>
    </div>
</section>