<div class="flex justify-center items-center h-screen">
  <div class="p-4 text-white">
    <h2 class="text-xl font-bold mb-4">Currency Converter</h2>

    <div class="mb-4">
      <label class="block mb-1" for="amountInput">Amount in EUR</label>
      <input class="border rounded px-2 py-1 text-black" type="number" id="amountInput" [(ngModel)]="amount" />
    </div>

    <div class="mb-4">
      <label class="block mb-1" for="targetCurrencySelect">Target Currency</label>
      <select class="border rounded px-2 py-1 w-2/3 text-black" id="targetCurrencySelect" [(ngModel)]="targetCurrency">
        <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
      </select>
    </div>

    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-6" (click)="convertCurrency()">Convert</button>

    <div *ngIf="convertedAmount !== null" class="mb-4 mt-10">
      <label class="block mb-1">Converted Amount:</label>
      <div class="border rounded px-2 py-1">{{ convertedAmount }}</div>
    </div>
  </div>
</div>
